

h1{
	text-align: center;
}


#submitButton{
	background-color: #34AD34;
	border-radius: 12px;
	font-size: 13px;
	width:10%;
	color: white;
	margin-left: 350px;
}

#submitButton:hover{
	background-color: #2A8A2A;
	cursor: pointer;
}

hr{
	border: 1px solid #f1f1f1;
}

.container{
	margin-left: 250px;
}

input{
	width:50%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #EEEEEE;
	display: inline-block;
	

}

input:focus{
  background-color: #ddd;
  outline: none;
}